## .NET Core / C# GitIgnore
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs

# Temporary files & logs
*.log
*.binlog
restore-out.txt
*.tmp

# User-specific files
appsettings.Production.json
appsettings.*.local.json
